#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

#container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

label {
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff7200;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:first-child {
    margin-right: 10px;
}
